body {
	background-color: #343a40;
	color: #ffffff;
}

.navbar-brand {
	margin-right: auto;
}

.nav-item {
	margin-left: 10px;
}

.container img {
	position: relative;
	margin: 0 80px;
}

.container img:first-child {
	left: 0;
}

.container img:last-child {
	right: 0;
	width: 500px;
}
